
body {
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  
  background-size: cover;
  background-position: center;
}

#jarImage {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60vw;
  max-width: 400px;
  transform: translate(-50%, -50%);
}

#ideaText {
  position: absolute;
  top: 28vh; /* adjust this to sit above the jar lid */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 8vw;
  text-shadow: 0 0 10px white;
  white-space: nowrap;
  pointer-events: none;
  z-index: 10;
}
